body {
    direction: rtl;
    font-family: "vazirmatn", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#timer {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#countdown {
    font-size: 2em;
    margin-top: 20px;
}

#countdown span {
    display: inline-block;
    min-width: 60px;
}
